.page__title{
  font-size:30px;
  margin:0px 0px 10px 10px;
}

.page__title--float{
  float:left;
}

.card__title{
  background: $color-mauve;
  color:white;
  text-align: center;
  padding:15px 0px;
}

.card__title--linked{
  color:white;

  &:after{
    background: white;
    height:2px;
    opacity: 1;
  }
}

.card__title, .card__subtitle{
  font-size:22px;
  font-weight: 600;

  &+.card__inner-container{
    border-top: 0px solid transparent;
  }
}

.subtitle__text + .card__subtitle{
  margin-top:15px;
}

.card__subtitle{
  color:$color-vert;
  margin-bottom:3px;
}

.card__subtitle--center{
  text-align: center;
}



.forum__title--cats{
  font-size:16px;
  font-weight: 600;
  color:$color-vert;
}
