.card{
  width:100%;
  background: white;
  color:$color-text;
}

.card--user{
  .card__subtitle{
    color:darken($color-vert,3%);
  }

  p{
    font-size: 15px;
  }

  &+&{
    margin-top:25px;
  }
}

.card--error{
  background: rgba(red,0.15);


  .card__inner-container{
    border:1px solid rgba(red,0.3);
  }
}

.card--chant{
  &+&{
    margin-top:30px;
  }
}



.card__inner-container{
  border:1px solid $color-card-border;

  padding:30px;
}


.card__image-container{
  width:450px;
  margin-right:40px;
  position: relative;
}



.card__image{
  width: 100%;
}


.card__text, .card__image-container{
  float:left;
}

.card__text--author{
  float: right;
  margin-right:15px;
}

.card__text--middle{
  width: 640px;
}


.text__description{
  margin-bottom:30px;

  p+p{
    margin-bottom:20px;
  }
}

.text--facebook{
  color:lighten($color-mauve,10%);
  &:after{

    background: $color-vert;

  }

  &:hover{
    color:$color-vert;
  }
}


.card__etoiles{
  text-align: center;
  margin:10px 0px 20px;
}
.etoile{
  @include background_size("../img/stars.png",no-repeat,top,center,cover);
  display: inline-block;
  margin-right:-4px;


}

.etoile--doree, .etoile--argent, .etoile--erasmus, .etoile--fossile-erasmus, .etoile--fossile-doree, .etoile--fossile-argent,
.etoile--palme-doree, .etoile--palme-argent{
  height: 35px;
  width: 35px;
}



.etoile--doree, .etoile--fossile-doree{
  background-position: -72px 0px;
}
.etoile--argent, .etoile--fossile-argent{
  background-position: -36px 0px;
}
.etoile--erasmus, .etoile--fossile-erasmus{
  background-position: 0px 0px;
}

.etoile--bourgeois{
  height: 25px;
  width: 25px;
  background-position: -51px 0px;
}
.etoile--palme-doree{
  background-position: -110px 0px;
}
.etoile--palme-argent{
  background-position: -123px 0px;
  width:10px;
}

.etoile--fossile-erasmus{
  background-color: black;
}
.etoile--fossile-doree{
  background-color: black;
}
.etoile--fossile-argent{
  background-color: black;
}

.card--forum-cats{
  position:relative;
  @include transition_css(background,0.25s,ease-in-out,0s);

  &:hover{
    background:rgba($color-vert,0.25);
  }
  &+&{
    margin-top:10px;
  }
  .card__inner-container{
    padding:10px 5px 10px 25px;
    position:relative;
    border-left:none;

    &:before{
      content:"";
      height:calc(100% + 2px);
      width:10px;
      position:absolute;
      left:0px;
      top:-1px;
      display:block;
      background-color:$color-mauve;

    }
  }
}
