.card{
  width:100%;
  background: white;
  color:$color-text;
}

.card--user{
  .card__subtitle{
    color:darken($color-vert,3%);
  }

  p{
    font-size: 15px;
  }

  &+&{
    margin-top:25px;
  }
}

.card--error{
  background: rgba(red,0.15);


  .card__inner-container{
    border:1px solid rgba(red,0.3);
  }
}

.card__title{
  background: $color-mauve;
  color:white;
  text-align: center;
  padding:15px 0px;
}

.card__title--linked{
  color:white;

  &:after{
    background: white;
    height:2px;
    opacity: 1;
  }
}

.card__title, .card__subtitle{
  font-size:22px;
  font-weight: 600;

  &+.card__inner-container{
    border-top: 0px solid transparent;
  }
}

.card__inner-container{
  border:1px solid $color-card-border;

  padding:30px;
}

.card__image-container{
  width:450px;
  margin-right:40px;
    position: relative;
}


.card__image{
  width: 100%;
}


.card__text, .card__image-container{
  float:left;
}

.card__text--middle{
  width: 640px;
}

.subtitle__text + .card__subtitle{
  margin-top:15px;
}

.card__subtitle{
  color:$color-vert;
  margin-bottom:3px;
}

.text__description{
  margin-bottom:30px;

  p+p{
    margin-bottom:20px;
  }
}

.text--facebook{
  color:lighten($color-mauve,10%);
  &:after{

    background: $color-vert;

  }

  &:hover{
    color:$color-vert;
  }
}
