.cats__description, .author__description{
  font-size:14px;
  color:lighten($color-text,10%);
}

.forum__link{
  position:relative;
}
.subject__author{
  color:$color-mauve;
}

.author__description{
  text-align: center;
  padding:0px 10px;
}

.message__author, .subject__message{
  margin-top:10px;
}
