.card{
  width:100%;
  background: white;
  color:$color-text;
}


.card__title{
  background: $color-mauve;
  color:white;
  text-align: center;
  padding:15px 0px;

}

.card__title, .card__subtitle{
  font-size:22px;
  font-weight: 600;

  &+.card__inner-container{
    border-top: 0px solid transparent;
  }
}

.card__inner-container{
  border:1px solid $color-card-border;
  
  padding:30px;
}

.card__image-container{
  width:450px;
  margin-right:40px;
    position: relative;
}


.card__image{
  width: 100%;
}


.card__text, .card__image-container{
  float:left;
}

.card__text--middle{
  width: 640px;
}

.subtitle__text + .card__subtitle{
  margin-top:20px;
}

.card__subtitle{
  color:$color-vert;
  margin-bottom:3px;
}

.text__description{
  margin-bottom:30px;
}

.text--facebook{
  color:lighten($color-mauve,10%);
  position: relative;
  @include transition_css(all,0.3s,ease-in-out,0s);

  &:after{
    @include transition_css(all,0.3s,ease-in-out,0s);
    content:"";
    width:0%;
    height: 1px;
    background: $color-vert;
    left:0px;
    display: block;
    position: absolute;
    opacity: 0.4;
  }

  &:hover{
    color:$color-vert;

    &:after{
      width:100%;
    }
  }
}
