.form__input{
  width:100%;

  border:1px solid $color-card-border;

}

.form__input, .form__bouton{
  border-radius: 4px;
  padding:6px 12px;
  display:block;
}

.form__group{
  &+&{
    margin-top:20px;
  }
}
.form__label{
  display: block;
  margin-bottom:5px;
}

.form__bouton{
  background:$color-mauve;
  color:white;
  border:none;
}
